@import 'variables';
@import 'mixins';

.mainNav {
  font-family: $headerFontFamily;
  width: 100%;
  height: $navigationDesktopHeight;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: $darkBlueColor;

  .logo {
    @include flexContainterRow;
    grid-column: span 2;
    background-color: #e8eaf6;
    color: $mainWhiteFontColor;
    height: $navigationDesktopHeight;
    padding: 5ox 20px;
    height: $navigationDesktopHeight;
    cursor: pointer;


    img {
      height: calc(100% - 5px);
      width: auto;
    }


    .mobileMenuButton {
      display: none;

      svg {
        color: black
      }
    }
  }

  .allLinks {
    z-index: 2;
    display: flex;
    grid-column: span 10;
    width: 100%;
    background-color: $darkBlueColor;

    .linkContainer {
      @include flexContainterColumn;
      grid-column: span 2;
      width: 100%;
      height: 100%;
      cursor: pointer;
      color: $mainWhiteFontColor;

      .dropdown {
        display: inline-block;
        position: relative;
        width: 100%;
        height: $navigationDesktopHeight;

        a {
          @include flexContainterColumn;
          width: 100%;
          height: 100%;

          .dropdownIcon {
            display: none;

            @media(max-width: $breakpointTablet) {
              width: 20px;
            }
          }
        }

        &:hover>.dropdownContent,
        &:hover>.asideDropdownContent {
          display: flex;
          background-color: $lightBlueColor;
        }
      }

      .dropdownContent {
        @include flexContainterColumn;
        display: none;
        position: absolute;
        width: 100%;

        div {
          &:hover {
            background-color: $lightBlueColor2;
          }
        }
      }

      .aside {
        left: 100%;
        top: 0%;
      }

      &:hover {
        background-color: $lightBlueColor;
        color: $mainWhiteFontColor;
      }
    }
  }

  @media (max-width: $breakpointTablet) {
    display: flex;
    flex-direction: column;

    .logo {
      flex-direction: row-reverse;
      height: $navigationMobileHeight;
      justify-content: space-around;
      width: 100%;

      .mobileMenuButton {
        display: flex;
        font-size: 22px;
        width: 22px;
        color: #212121;
        justify-self: flex-end;
      }


      p {
        font-size: 18px;
      }
    }

    .allLinks {
      @include flexContainterColumn;
      display: none;
      width: 100%;
      z-index: 2;
      position: absolute;
      top: $navigationDesktopHeight;

      .linkContainer {
        width: 100%;

        .dropdown {
          height: 100%;

          a {
            @include flexContainterRow;
            height: $navigationMobileHeight;

            .dropdownIcon {
              display: block;
              margin-left: 20px;
            }
          }

          .dropdownContent {
            display: none;
            position: relative;
          }

          .aside {
            left: 0%;
            top: 0%;
          }
        }
      }
    }
  }
}

.pageHeader {
  text-align: center;
  font-size: 40px;
  font-family: $headerFontFamily;
  color: $titleFontColor;
}

.mainFooter {
  background-color: $lightBlueColor;
  color: $backgroundGrayColor;
  font-family: Roboto, Inter, sans-serif;
  @include flexContainterColumn;

  p {
    margin: 8px 0;
    font-size: 16px;
  }

  .footerLogo {
    padding: 20px 0;
    width: 100%;
    // background-color: ;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: $backgroundGrayColor;

    img {
      height: 80px;
      width: auto;
    }
  }

  img {
    height: 60px;
    width: auto;
  }

  .footerContent {
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    div {
      grid-column: span 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $backgroundGrayColor;
      font-size: 14px;
    }

    .socialMedia {
      flex-direction: row;

      .socialMediaIcon {
        width: 32px;
        margin: 10px;
        cursor: pointer;
        color: #e3f2fd;

        &:hover {
          color: #212121;
        }
      }
    }

    @media (max-width: $breakpointPhone) {
      @include flexContainterColumn;
    }
  }
}

.asideFooter {
  background-color: $darkBlueColor;
  font-family: Roboto, Inter, sans-serif;
  height: 6vh;
  margin-top: auto;
  @include flexContainterColumn;

  p {
    color: $backgroundGrayColor;
    font-size: 12px;
    margin: 0;
  }
}

.heroImage {
  width: 100%;
  height: calc(100vh - #{$navigationDesktopHeight});
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05),
    -10px 20px 5px rgba(0, 0, 0, 0.05);

  div {
    .heroText {
      position: absolute;
      right: 2vw;
      bottom: 0;
      width: fit-content;
      margin: auto 0 100px auto;

      h1 {
        font-size: 84px;
        margin: 0
      }

      p {
        font-size: 36px;
        margin: 0;
        text-align: right;
      }
    }
  }

  @media (max-width: $breakpointTablet) {
    div {
      right: 4%;
      bottom: -2%;

      .heroText {
        h1 {
          font-size: 54px;
        }

        p {
          font-size: 28px;
        }
      }
    }
  }

  @media (max-width: $breakpointTablet) {
    div {
      right: 3%;
      bottom: -4%;

      .heroText {
        h1 {
          font-size: 32px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }

}

.mainCarousel {
  width: 100%;
  height: 400px;
  height: 100vh;

  img {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }


}

.aboutUs {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0;

  h1 {
    margin-top: 0;
    font-size: 40px;
    text-align: center;
    font-family: $headerFontFamily;
  }
}

.mainArticle {
  width: 100%;
  height: 100vh;

  .articleContent {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding: 5% 0;
    display: flex;
    margin: auto;

    img {
      width: 50%;
      height: fit-content;
      margin: auto 5%;
    }

    div {
      width: 45%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: Roboto, Inter, sans-serif;
      margin: 0 2.5%;

      h1 {
        font-size: 56px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
      }
    }
  }

  @media (max-width: $breakpointTablet) {
    .articleContent {
      img {
        width: 40%;
      }

      div {
        h1 {
          font-size: 32px;
          margin-top: 14vh;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width: $breakpointPhone) {
    .articleContent {
      img {
        width: 90%;
      }

      div {
        width: 95%;

        h1 {
          font-size: 28px;
          margin-top: 2vh;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}

.leftArticle {
  display: flex;
  flex-direction: row-reverse;

  @media (max-width: $breakpointPhone) {
    flex-direction: column;
  }
}

.rightArticle {
  display: flex;
  flex-direction: row;

  @media (max-width: $breakpointPhone) {
    flex-direction: column-reverse;
  }
}