@import "variables";
@import "mixins";

.mainNav {
  width: 100%;
  height: $navigationDesktopHeight;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: $darkBlueColor;

  .logo {
    @include flexContainterRow;
    grid-column: span 2;
    background-color: #e8eaf6;
    color: $mainWhiteFontColor;
    height: $navigationDesktopHeight;
    padding: 5ox 20px;
    height: $navigationDesktopHeight;
    cursor: pointer;

    img {
      height: calc(100% - 5px);
      width: auto;
    }

    .mobileMenuButton {
      display: none;

      svg {
        color: black;
      }
    }
  }

  .allLinks {
    z-index: 2;
    display: flex;
    grid-column: span 10;
    width: 100%;
    background-color: $darkBlueColor;

    .linkContainer {
      @include flexContainterColumn;
      grid-column: span 2;
      width: 100%;
      height: 100%;
      cursor: pointer;
      color: $mainWhiteFontColor;

      .dropdown {
        display: inline-block;
        position: relative;
        width: 100%;
        height: $navigationDesktopHeight;

        a {
          @include flexContainterColumn;
          width: 100%;
          height: 100%;

          .dropdownIcon {
            display: none;

            @media (max-width: $breakpointTablet) {
              width: 20px;
            }
          }
        }

        &:hover > .dropdownContent,
        &:hover > .asideDropdownContent {
          display: flex;
          background-color: $lightBlueColor;
        }
      }

      .dropdownContent {
        @include flexContainterColumn;
        display: none;
        position: absolute;
        width: 100%;

        div {
          &:hover {
            background-color: $lightBlueColor2;
          }
        }
      }

      .aside {
        left: 100%;
        top: 0%;
      }

      &:hover {
        background-color: $lightBlueColor;
        color: $mainWhiteFontColor;
      }
    }
  }

  @media (max-width: $breakpointTablet) {
    display: flex;
    flex-direction: column;
    height: $navigationMobileHeight;

    .logo {
      flex-direction: row-reverse;
      height: $navigationMobileHeight;
      justify-content: space-around;
      width: 100%;

      .mobileMenuButton {
        display: flex;
        font-size: 22px;
        width: 22px;
        color: #212121;
        justify-self: flex-end;
      }

      p {
        font-size: 18px;
      }
    }

    .allLinks {
      @include flexContainterColumn;
      display: none;
      width: 100%;
      z-index: 2;
      position: absolute;
      top: $navigationMobileHeight;

      .linkContainer {
        width: 100%;

        .dropdown {
          height: 100%;

          a {
            @include flexContainterRow;
            height: $navigationMobileHeight;

            .dropdownIcon {
              display: block;
              margin-left: 20px;
            }
          }

          .dropdownContent {
            display: none;
            position: relative;
          }

          .aside {
            left: 0%;
            top: 0%;
          }
        }
      }
    }
  }
}

.pageHeader {
  text-align: center;
  font-size: 40px;
  color: $titleFontColor;
}

.mainFooter {
  background-color: $lightBlueColor;
  color: $backgroundGrayColor;
  @include flexContainterColumn;

  p {
    margin: 8px 0;
    font-size: 16px;
  }

  .footerLogo {
    padding: 20px 0;
    width: 100%;
    // background-color: ;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: $backgroundGrayColor;

    img {
      height: 80px;
      width: auto;
    }
  }

  img {
    height: 60px;
    width: auto;
  }

  .footerContent {
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    div {
      grid-column: span 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $backgroundGrayColor;
      font-size: 14px;
    }

    .socialMedia {
      flex-direction: row;

      .socialMediaIcon {
        width: 32px;
        margin: 10px;
        cursor: pointer;
        color: #e3f2fd;

        &:hover {
          color: #212121;
        }
      }
    }

    @media (max-width: $breakpointPhone) {
      @include flexContainterColumn;
    }
  }
}

.asideFooter {
  background-color: $darkBlueColor;
  height: 6vh;
  margin-top: auto;
  @include flexContainterColumn;

  p {
    color: $backgroundGrayColor;
    font-size: 12px;
    margin: 0;
  }
}

.heroImage {
  width: 100%;
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
    10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);

  div {
    .heroText {
      position: absolute;
      right: 2vw;
      bottom: 0;
      width: fit-content;
      margin: auto 0 100px auto;
      z-index: 1;

      h1 {
        font-size: 3.5rem;

        margin: 0;
      }

      p {
        font-size: 36px;
        margin: 0;
        text-align: right;
      }
    }
  }

  @media (max-width: $breakpointTablet) {
    div {
      .heroText {
        h1 {
          font-size: 54px;
        }

        p {
          font-size: 28px;
        }
      }
    }
  }

  @media (max-width: $breakpointTablet) {
    div {
      .heroText {
        h1 {
          font-size: 32px;
        }

        p {
          font-size: 20px;
        }
      }
    }
  }
}

.mainCarousel {
  width: 100%;
  height: fit-content;
  .carousel {
    height: fit-content;
  }
  img {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 54px) !important;
    object-fit: cover;
  }

  @media (max-width: $breakpointTablet) {
    height: auto;

    img {
      height: auto;
    }
  }
}

.aboutUs {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0;

  h1 {
    margin-top: 0;
    font-size: 40px;
    text-align: center;
  }
}

.mainArticle {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .articleContent {
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: auto;

    img {
      width: 50%;
      height: fit-content;
      margin: auto 5%;
    }

    div {
      width: 45%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 2.5%;

      h1 {
        font-size: 2.8rem;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
        width: 100%;
      }
      span {
        font-size: 1.1rem;
      }
      p {
        font-size: 18px;
      }
    }
  }
  .textBelow {
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: 0 auto auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    span {
      margin: 0 5% auto 5%;
    }
  }
  @media (max-width: $breakpointTablet) {
    height: fit-content;
    padding: 40px 20px;
    .articleContent {
      flex-direction: column-reverse !important;
      img {
        width: 40%;
        margin: 30px auto;
      }

      div {
        h1 {
          font-size: 32px;
          margin-top: 14vh;
          text-align: left;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  @media (max-width: $breakpointPhone) {
    .articleContent {
      img {
        width: 90%;
      }

      div {
        width: 95%;
        height: 45%;

        h1 {
          font-size: 28px;
          margin-top: 2vh;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}

.leftArticle {
  display: flex;
  flex-direction: row-reverse;

  @media (max-width: $breakpointPhone) {
    flex-direction: column;
  }
}

.rightArticle {
  display: flex;
  flex-direction: row;

  @media (max-width: $breakpointPhone) {
    flex-direction: column-reverse;
  }
}
