@import url('https://fonts.googleapis.com/css?family=Oswald');

$breakpointTablet: 1024px;
$breakpointPhone: 624px;

$headerFontFamily: 'Oswald';
$titleFontSize: 16px;
$titleFontColor: #212121;
$textFontSize: 14px;
$textFontColor: #424242;

$mainWhieColor: #ffffff;
$backgroundGrayColor: #f1f1f1;

$navigationDesktopHeight: 54px;
$navigationMobileHeight: 64px;

$darkBlueColor: #1a237e;
$lightBlueColor: #0d47a1;
$mainWhiteFontColor: #e3f2fd;